<ion-menu [content]="nav">
  <ion-header>
    <ion-toolbar>
      <ion-title>Menü</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-list>
      <button
        ion-item
        icon-left
        (click)="onLoad(tabsPage)"
        *ngIf="isAuthenticated">
        <ion-icon name="book"></ion-icon>
        Receptek
      </button>
      <button
        ion-item
        icon-left
        (click)="onLoad(signinPage)"
        *ngIf="!isAuthenticated">
        <ion-icon name="log-in"></ion-icon>
        Belépés
      </button>
      <button
        ion-item
        icon-left
        (click)="onLoad(signupPage)"
        *ngIf="!isAuthenticated">
        <ion-icon name="person"></ion-icon>
        Regisztráció
      </button>
      <button
        ion-item
        icon-left
        (click)="onLogout()"
        *ngIf="isAuthenticated">
        <ion-icon name="log-out"></ion-icon>
        Kilépés
      </button>
    </ion-list>
  </ion-content>
</ion-menu>

<ion-nav [root]="tabsPage" #nav></ion-nav>
